{% extends 'consumption/layout.html' %}

{% block content %}

<p><a href="/">Go to summary</a></p>
<h1>User detail</h1>
<p><strong>User id :</strong> {{ user.user_id }} </p>
<p><strong>Area:</strong> {{user.area}}</p>
<p><strong>Tariff:</strong> {{user.tariff}} </p>

<h1>User's Consumption</h1>
<!--chart for consumption-->
<div style="width:75%;">
    <canvas id="canvas"></canvas>
</div>

<script>
        var config = {
            type: 'line',
            data: {
                labels: [
                   {% for consumption in consumptions %}
                   "{{ consumption.datetime }}",
                   {% endfor %}
                   ],
                datasets: [{
                    label: "Consumption",
                    backgroundColor: window.chartColors.red,
                    borderColor: window.chartColors.red,
                    data: [
                        {% for consumption in consumptions %}
                        {{ consumption.consumption }},
                        {% endfor %}
                    ],
                    fill: false,
                }]
            },
            options: {
                responsive: true,
                title:{
                    display:true,
                    text:'Consumption Line Chart'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Datetime'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Energy Consumption (Wh)'
                        }
                    }]
                }
            }
        };

        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx, config);
        };
        var colorNames = Object.keys(window.chartColors);
    </script>


{% endblock %}
